<h2 mat-dialog-title>Crear Usuario</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Usuario</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="rol">
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="Mecanico">Mecánico</mat-option>
      <mat-option value="Cliente">Cliente</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>

  <mat-checkbox formControlName="disponible">Disponible</mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
